<ion-content>
 <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
   refreshingSpinner="circles" refreshingText="Refreshing...">
  </ion-refresher-content>
 </ion-refresher>

 <ion-card style="padding: 0.5rem 0.2rem;">
  <ion-row>
   <ion-col size="12" class="d-flex ion-align-items-center ion-justify-content-between gap-1">
    <span>Welcome, {{resData['restaurant_name'] || 'N/A'}}</span>
    <img src="assets/images/{{curWeatherImg}}.png" style="height: 2rem; width: 2rem;">
   </ion-col>
  </ion-row>
 </ion-card>

 <ion-row class="dashboard-count">
  <ion-col size="6">
   <ion-card color="primary">
    <p>Received Orders {{dashboardCount['received_count'] || 0}}</p>
   </ion-card>
  </ion-col>
  <ion-col size="6">
   <ion-card color="tertiary">
    <p>Active Orders {{dashboardCount['active_count'] || 0}}</p>
   </ion-card>
  </ion-col>
  <ion-col size="6">
   <ion-card color="success">
    <p>Delivered Orders {{dashboardCount['deliverd_count'] || 0}}</p>
   </ion-card>
  </ion-col>
  <ion-col size="6">
   <ion-card color="danger">
    <p>Rejected Orders {{dashboardCount['rejected_count'] || 0}}</p>
   </ion-card>
  </ion-col>
 </ion-row>

</ion-content>

<ng-template #skeletonTemplate>
 <ng-container *ngFor="let item of skeleton_data">
  <ion-col size="6">
   <ion-card-content class="box">
    <ion-row class="ion-justify-content-center">
     <ion-thumbnail>
      <ion-skeleton-text [animated]="true"></ion-skeleton-text>
     </ion-thumbnail>
    </ion-row>
    <ion-row class="ion-justify-content-center">
     <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
    </ion-row>
   </ion-card-content>
  </ion-col>
 </ng-container>
</ng-template>

<div *ngIf="showAlertMdl && alertMdlData" class="modal-container">
 <div class="modal-content-container">
  <img src="assets/images/{{alertMdlData['img']}}" alt="Approved" />
  <span class="multi_lines_text">{{alertMdlData['msg']}}</span>
  <ion-button class="{{alertMdlData['btn_cls']}}"
   (click)="dismissAlertModal()">{{alertMdlData['btn_text']}}</ion-button>
 </div>
</div>