.login-container {
 width: 100vw;
 height: 92.5vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background: #2e0e4f; //rebeccapurple;

 .login-content {
  width: 85%;
  background: #80808052;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;

  .login-header {
   font-size: 1.5rem;
   font-weight: bold;
   margin-bottom: 1rem;
  }

  ion-button {
   --ion-color-secondary: white;
   --ion-color-secondary-shade: rgba(181, 179, 179, 0.78);
   --ion-color-secondary-contrast: black;

   ion-spinner {
    margin-left: 0.5rem;
    color: black;
   }
  }

  :host-context(.dark) ion-button {
   --ion-color-secondary: black;
   --ion-color-secondary-shade: rgba(255, 255, 255, 0.7);
   --background: var(--ion-color-secondary);
   --color: black;
  }
 }
}

a {
 text-decoration: none;
}