.modal-content {
 position: absolute;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0.5rem 1rem;
 border-radius: 1rem;
 background-color: white;
 max-width: 20rem;
 min-width: 20rem;
 margin: 0 1rem;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 transition: opacity 0.3s ease-in-out;
 z-index: 99999;

 &.top-left {
  top: 1rem;
  left: 1rem;
 }

 &.top-right {
  top: 1rem;
  right: 1rem;
 }

 &.bottom-left {
  bottom: 1rem;
  left: 1rem;
 }

 &.bottom-right {
  bottom: 1rem;
  right: 1rem;
 }

 &.top-center {
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
 }

 &.bottom-center {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
 }

 &.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
 }

 &.fade-out {
  opacity: 1;
  animation: fadeOut 0.5s forwards;
 }
}

@keyframes fadeIn {
 0% {
  opacity: 0;
 }

 100% {
  opacity: 1;
 }
}

@keyframes fadeOut {
 0% {
  opacity: 1;
 }

 100% {
  opacity: 0;
 }
}

.modal-content ion-icon {
 font-size: 2rem;
}

.modal-content h2 {
 margin: 0;
 font-size: 1.25rem;
 text-align: center;
 color: #333;
}

.modal-content p {
 font-size: 1rem;
 color: white;
 max-height: 4rem;
 overflow-y: scroll;
}

.success {
 background-color: #28a745;
 color: white;
}

.error {
 background-color: #dc3545;
 color: white;
}

.info {
 background-color: #17a2b8;
 color: white;
}

.warning {
 background-color: #ffc107;
 color: white;
}

ion-icon.close {
 cursor: pointer;
}

ion-col {
 display: flex;
 align-items: center;
 justify-content: center;
}

h2,
p {
 margin-left: 0.25rem;
 margin-right: 0.25rem;
}