.img-container {
 margin-top: 1rem;
}

.profile-img {
 width: 8rem;
 border-radius: 50%;
 border: 3px solid #f1f1f1;
 margin: 1rem;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.edit-icon {
 position: absolute;
 bottom: 1.5rem;
 right: 2rem;
 background-color: white;
 border-radius: 50%;
 padding: 0.2rem;
}

.status-section {
 margin-top: 1rem;
 text-align: center;
}

.status-container {
 display: flex;
 align-items: center;
 justify-content: center;
}

.status-icon {
 margin-right: 0.5rem;
}

.user-data-container {
 margin: 1.5rem 1rem;
 padding: 1rem;
 border-radius: 1rem;
 background: #f9f9f9;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.label-name {
 font-weight: bold;
 color: #333;
}

.toggle-container {
 margin-top: 1rem;
 display: flex;
 align-items: center;
}

.toggle-status {
 display: flex;
 align-items: center;
 gap: 1rem;
}

ion-button:hover {
 transform: scale(1.05);
 transition: transform 0.3s ease;
}

ion-toggle {
 padding: 12px;

 --handle-width: 25px;
 --handle-height: 27px;
 --handle-max-height: auto;
 --handle-spacing: 6px;

 contain: none;
}

ion-toggle::part(track),
ion-toggle.toggle-checked::part(track) {
 height: 10px;
 width: 65px;

 background: #ddd;

 /* Required for iOS handle to overflow the height of the track */
 overflow: visible;
}

ion-toggle::part(handle) {
 background: #eb7769;

 border-radius: 4px;
 box-shadow: none;
}

ion-toggle.toggle-checked::part(handle) {
 background: #95c34e;
}