.img-container {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 2rem;
}

.profile-img {
 // height: 10rem;
 width: 10rem;
 border-radius: 50%;
 // border: 2px solid #ccc;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
 margin: 1rem;
}

.edit-icon {
 color: black;
 position: absolute;
 bottom: 1.3rem;
 right: 2.5rem;
 background:white;
 border-radius: 50%;
}

ion-button {
 &:hover {
   transform: scale(1.05);
   transition: transform 0.3s ease;
 }
}

.user-data-container {
 margin: 2rem 1rem;
 padding: 1.5rem;
 border-radius: 1rem;
 background-color: #f9f9f9;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.label-name {
 font-weight: bold;
 color: #333;
}

ion-input {
 border-radius: 8px;
 padding: 0.5rem;
 background-color: #f1f1f1;
}

ion-input:focus {
 background-color: #fff;
 border: 1px solid #077126;
}

.image-preview {
 max-width: 100%;
 height: auto;
 border: 2px solid #ccc;
 border-radius: 8px;
 margin-top: 1rem;
}

.modal-container {
 display: flex;
 justify-content: center;
 align-items: center;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0, 0, 0, 0.5);
 z-index: 1000;
}

.modal-content-container {
 background-color: white;
 padding: 1.5rem;
 border-radius: 1rem;
 width: 90%;
 max-width: 500px;
 text-align: center;
 box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.modal-content-container ion-button {
 margin-top: 1rem;
}
