<ion-header [translucent]="true">
 <ion-toolbar>
  <ion-title>
   <ion-row class="title-row">
    <ion-col size="auto">
     <img class="app-icon" src="assets/images/app-icon.png" alt="app-icon">
    </ion-col>
    <ion-col size="auto">
     GBR Food App
    </ion-col>
   </ion-row>
  </ion-title>
 </ion-toolbar>
</ion-header>

<ion-content>
 <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer>
 <ion-toolbar>
  <ion-row justify-content="space-between" align-items="center">
   <ion-col size="2" class="ion-text-center" [class.active]="isActive('home')" (click)="onNavigatePage('home')">
    <ion-icon name="home-outline" size="large" aria-label="Home"></ion-icon>
   </ion-col>
   <ion-col size="4" class="ion-text-center" [class.active]="isActive('cart')" (click)="onNavigatePage('cart')">
    <ion-icon name="cart-outline" size="large" aria-label="Cart"></ion-icon>
    <ion-badge>{{cartCount}}</ion-badge>
   </ion-col>
   <ion-col size="3" class="ion-text-center" [class.active]="isActive('transactions')"
    (click)="onNavigatePage('transactions')">
    <ion-icon name="bag-handle-outline" size="large" aria-label="Order List"></ion-icon>
   </ion-col>
   <ion-col size="3" class="ion-text-center" [class.active]="isActive('profile')" (click)="onNavigatePage('profile')">
    <ion-icon name="person-circle" size="large" aria-label="Profile"></ion-icon>
   </ion-col>
  </ion-row>
 </ion-toolbar>
</ion-footer>