.signup-container {
 width: 100vw;
 height: 92.5vh;
 display: flex;
 flex-direction: column;
 // justify-content: center;
 align-items: center;
 background: #2e0e4f; //rebeccapurple;

 ion-card {
  background: #80808052;
 }
}

.center-content {
 text-align: center;
}

.d-flex {
 display: flex;
}

.welcome-container {
 // background: #80808052;
 text-align: center;
 padding: 20px;
}

ion-text h1 {
 font-size: 24px;
 margin-bottom: 10px;
}

ion-text p {
 font-size: 16px;
 margin-bottom: 20px;
}

.icon-img {
 height: 3rem;
 width: 3rem;
}

a {
 text-decoration: none;
}

.submit-btn-container {
 ion-button {
  --ion-color-secondary: white;
  --ion-color-secondary-shade: rgba(181, 179, 179, 0.78);
  --ion-color-secondary-contrast: black;

  ion-spinner {
   margin-left: 0.5rem;
   color: black;
  }
 }

 :host-context(.dark) ion-button {
  --ion-color-secondary: black;
  --ion-color-secondary-shade: rgba(255, 255, 255, 0.7);
  --background: var(--ion-color-secondary);
  --color: black;
 }
}