<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Sign Up </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="signup-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome User!!!</ion-card-title>
        <ion-buttons slot="end">
          <ion-button color="primary">Action</ion-button>
        </ion-buttons>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="10">
            <ion-input
              type="text"
              placeholder="User Name"
              [(ngModel)]="username"
            ></ion-input>
          </ion-col>
          <ion-col
            size="2"
            class="d-flex ion-justify-content-center ion-align-items-center"
          >
            <ion-icon name="person"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10">
            <ion-input
              type="text"
              placeholder="Login Name"
              [(ngModel)]="loginname"
            ></ion-input>
          </ion-col>
          <ion-col
            size="2"
            class="d-flex ion-justify-content-center ion-align-items-center"
          >
            <ion-icon name="person"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-input
            type="password"
            placeholder="Password"
            [(ngModel)]="password"
          >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <!-- <ion-button (click)="submit()">Submit</ion-button> -->
            <ion-button
              [disabled]="isLoading"
              size="small"
              expand="block"
              color="secondary"
              (click)="submit()"
              (keydown.enter)="submit()"
            >
              <ion-icon slot="start" name="log-in"></ion-icon>
              Login
              <ion-spinner slot="end" *ngIf="isLoading"></ion-spinner>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
