/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


ion-content {
 &::part(background) {
  --background: #f2f0f0;
 }
}

.d-flex {
 display: flex;
}

.text-white {
 color: white;
}

.text-black {
 color: black;
}

.multi_lines_text {
 white-space: pre-line;
}

.modal-container {
 height: 100%;
 width: 100%;
 background: rgba(0, 0, 0, 0.8);
 display: flex;
 justify-content: center;
 align-items: center;


 .modal-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 1rem;
  width: 85vw;

  img {
   width: 7rem;
   height: 7rem;
  }

  span {
   font-size: 18px;
   display: block;
   margin: 10px 0;
   color: black;
   max-height: 10rem;
   max-width: 99%;
   overflow-y: scroll;
  }

  ion-button {
   margin-top: 10px;
   width: 100%;
   color: white;

   &.success {
    &::part(native) {
     background: #00B5AD;
    }
   }

   &.danger {
    &::part(native) {
     background: #FF3A3A;
    }
   }
  }
 }
}

ion-skeleton-text {
 --border-radius: 9999px;
 --background: rgba(188, 0, 255, 0.065);
 --background-rgb: 188, 0, 255;
}