/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


ion-content {
 &::part(background) {
  --background: #f2f0f0; //#eeffff;
 }
}

.page-title-span {
 font-family: 'Arial', sans-serif;
 font-size: 1.2rem;
 font-weight: 600;
 color: #2C3E50;
 text-align: center;
 padding: 0.5rem 0;
 border-bottom: 0.1rem solid #FF6347;
 background-color: #FCFCFC;
 letter-spacing: 0.05rem;
 text-transform: uppercase;
 margin: 0;
}

.d-flex {
 display: flex;
}

.d-flex-column {
 display: flex;
 flex-direction: column;
}

.d-flex-row {
 display: flex;
 flex-direction: row;
}

.d-flex-row-reverse {
 display: flex;
 flex-direction: row-reverse;
}

.d-flex-column-reverse {
 display: flex;
 flex-direction: column-reverse;
}

.d-flex-wrap {
 display: flex;
 flex-wrap: wrap;
}

.d-flex-wrap-reverse {
 display: flex;
 flex-wrap: wrap-reverse;
}

.d-flex-nowrap {
 display: flex;
 flex-wrap: nowrap;
}

.d-flex-nowrap-reverse {
 display: flex;
 flex-wrap: nowrap-reverse;
}

.d-flex-grow {
 display: flex;
 flex-grow: 1;
}

.d-flex-shrink {
 display: flex;
 flex-shrink: 1;
}

.d-flex-basis {
 display: flex;
 flex-basis: 100px;
}

.d-flex-basis-auto {
 display: flex;
 flex-basis: auto;
}

.d-flex-basis-content {
 display: flex;
 flex-basis: content;
}

.d-flex-basis-0 {
 display: flex;
 flex-basis: 0;
}

.d-flex-basis-inherit {
 display: flex;
 flex-basis: inherit;
}

.d-flex-basis-initial {
 display: flex;
 flex-basis: initial;
}

.d-flex-basis-unset {
 display: flex;
 flex-basis: unset;
}

.d-flex-basis-none {
 display: flex;
 flex-basis: none;
}

.gap-1 {
 gap: 0.5rem;
}

.gap-2 {
 gap: 1rem;
}

.gap-3 {
 gap: 1.5rem;
}

.gap-4 {
 gap: 2rem;
}

.gap-5 {
 gap: 2.5rem;
}

.gap-6 {
 gap: 3rem;
}


.text-white {
 color: white;
}


.text-black {
 color: black;
}

.text-muted {
 color: #6c757d !important;
}

.text-bold {
 font-weight: bold;
}

.text-justify {
 text-align: justify;
}

.text-center {
 text-align: center;
}

.text-left {
 text-align: left;
}

.text-right {
 text-align: right;
}


.multi_lines_text {
 white-space: pre-line;
}

.modal-container {
 position: absolute;
 height: 100%;
 width: 100%;
 background: rgba(0, 0, 0, 0.8);
 display: flex;
 justify-content: center;
 align-items: center;


 .modal-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 1rem;
  width: 85vw;

  img {
   width: 7rem;
   height: 7rem;
  }

  span {
   font-size: 18px;
   display: block;
   margin: 10px 0;
   color: black;
   max-height: 10rem;
   max-width: 99%;
   overflow-y: scroll;
  }

  ion-button {
   margin-top: 10px;
   width: 100%;
   color: white;

   &.success {
    &::part(native) {
     background: #00B5AD;
    }
   }

   &.danger {
    &::part(native) {
     background: #FF3A3A;
    }
   }
  }
 }
}

ion-thumbnail {
 ion-skeleton-text {
  --border-radius: 50%;
  --background: rgba(188, 0, 255, 0.065);
  --background-rgb: 188, 0, 255;
 }
}

ion-skeleton-text {
 --border-radius: 0.1rem;
 --background: rgba(188, 0, 255, 0.065);
 --background-rgb: 188, 0, 255;
}

ion-refresher {
 background: #fff;
 --ion-text-color: black;

 ion-refresher-content {
  background: #fff;

  .refresher-pulling {
   background: #fff;
  }
 }

 ion-spinner {
  color: black;
 }
}